*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    font-family: "Vollkorn", georgia, serif;
    font-size: 13pt;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    border-radius: 5px;
}

/*header*/

.header{
    grid-area: header;
    padding: 20px;
    background:linear-gradient(135deg, #8844ee, #b07dfb) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.menu{
    display: flex;
    flex-wrap: wrap;
}
.menu li{
    margin: 10px;
    margin-bottom: 15px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background: rgba(0 ,0 ,0 ,.1);
    border-radius: 10px;
    
}
.menu li a:hover{
    background: rgba(0,0,0,.5);
    transition-duration: .3s;
}

/*body*/
.titulo h1{
    color: rgb(99, 168, 29);
    font-size: 30pt;
    line-height: 1;
    font-weight: 700;
}
/*essa estrutura principal tem que ser declarada primeiro que os @media*/
.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 4fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}
.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
  }
  
.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 150px;
    margin: 0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    transition: .1s ease-out;
}
  
.sidenav li a:hover {
    background: #B07DFB;
}
@keyframes seta{
    from{
        right: 30px;
    }
    to{
        right: 20px;
    }
}
footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    color: white;
}
@media (max-width:760px){
    .sidenav {
        position: relative;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style:-ms-autohiding-scrollbar;
    }
    .sidenav::after{
        content: '→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0 ,0 ,0 ,.3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul{
        display: flex;

    }
    .sidenav ul li{
        flex: 1 0 60px;
        margin: 5px;
    }
    .sidenav{
        padding: 0 30px ;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
.video-ex{
    text-align: center;
}
@media (max-width:1050px){
    .estrutura{
        grid-template-areas: 
            "header header header"
            "sidenav content content"
            "sidenav anuncios anuncios"
            "footer footer footer"
        ;
    }
}
@media (max-width:760px){
    .estrutura{
        grid-template-columns:1fr;
        grid-template-areas: 
            "header"
            "sidenav"
            "content"
            "anuncios"
            "footer"
        ;
    }
    .icones{
        display: flex;
        position: absolute;left:20%;
    }
    .video-ex iframe{
        width: 400px;
    }
}
@media (max-width:550px){
    .icones{
        left: 10%;
    }
    .video-ex iframe{
        width: 300px;
    }
}
.content{
    grid-area: content;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    

}
code{
    padding: 0 5px 0 5px;
    background-color: rgb(216, 216, 216);
}
.artigo{
    margin: 0 auto;
}
p{
    text-align: justify;
    margin: 20px 10px 20px 10px;
}
.imagem-corpo{
    width: 100%;
    margin: 10px 0 10px 0;
}
/*ads*/

.anuncios{

    grid-area: anuncios;
}
.redirect{
    grid-area: redirect;
}
.redirect-video{
    display: flex;
}
.redirect-video div{
    text-justify: auto;
    max-width: 384px;
}
/*footer*/

